# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
click==6.7
flask==1.0.2
gunicorn==19.8.1
itsdangerous==0.24
jinja2==2.10
markupsafe==1.0
pip==10.0.1
setuptools==39.2.0
werkzeug==0.14.1
wheel==0.31.1
alembic==0.9.9
flask-migrate==2.1.1
flask-script==2.0.6
flask-sqlalchemy==2.3.2
psycopg2==2.7.5
sqlalchemy==1.2.8
