# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
click==6.7
flask==1.0.2
gunicorn==19.8.1
itsdangerous==0.24
jinja2==2.10
markupsafe==1.0
openssl==1.0.2o
pip==10.0.1
python==3.6.5
readline==7.0
setuptools==39.2.0
sqlite==3.24.0
tk==8.6.7
werkzeug==0.14.1
wheel==0.31.1
xz==5.2.4
zlib==1.2.11
